:root {
    --backblue: #00143c;
}

html {
    background-color: var(--backblue);
    font-family: monospace;
    font-size: 140%;
}

#main-container {
    margin: auto;
    width: 50%;
    text-align: center;
}

textarea {
    background-color:var(--backblue);
    color: #f0f0f0;
    width: 64ch;
    height: 8lh;
}

h1 {
    color: #3cf0f0;
}

h2 {
    color: #f0f03c;
}
